<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-buttons>
          <div style="width: 100%">
            <img (click)="goBack()" src="/assets/imgs/backbtn.svg" />
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="7.5" style="text-align: center">
        <ion-label class="textcenter">Pending(22)</ion-label>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 90%; margin: 0px auto">
    <div
      *ngFor="let item of arraytest"
      style="
        background: #ffffff;
        border: 1px solid #ededed;
        box-shadow: 0px 0px 35px -10px rgb(0 0 0 / 10%);
        border-radius: 12px;
        margin-bottom: 10px;
        padding: 10px;
      "
    >
      <div style="display: flex; align-items: center">
        <img
          style="margin-right: 20px; height: 70px; width: 70px"
          src="{{item.image}}"
        />
        <div>
          <p style="font-family: 'Poppins', sans-serif; font-weight: 600">
            {{item.name}}
          </p>
          <div style="display: flex; margin-top: 0px; margin-left: 0px">
            <img src="assets/imgs/pinblack.svg" />
            <p
              style="
                color: gray;
                font-family: 'Poppins', sans-serif;
                margin-left: 10px;
              "
            >
              {{item.arealocation}}
            </p>
          </div>

          <div style="display: flex">
            <p style="color: gray; font-family: 'Poppins', sans-serif">
              W. Experience
            </p>
            <p
              style="
                margin-left: 10px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
              "
            >
              {{item.experence}}
            </p>
          </div>
        </div>
      </div>

      <ion-row style="margin-top: 10px">
        <ion-col size="5">
          <ion-badge class="badgeclass">{{item.workplace}}</ion-badge>
        </ion-col>
        <ion-col size="7" style="text-align: right">
          <ion-badge class="badgeclass2">Reject</ion-badge>
          <ion-badge class="badgeclass3">Shortlist</ion-badge>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
