.textcenter{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #5463FF;
}
.wrapper{
  width: 90%;
  margin: 2% auto;
  font-family: 'Poppins', sans-serif;
}
.lbl{
  font-weight: 500;
  font-size: 16px;
  color: #5463FF;
  margin-top:5%;
}
.text{
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.text2{
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  margin-top: 6%;
}
.main{
  margin-top: 5%;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 10px 35px -10px rgb(0 0 0 / 10%);
    border-radius: 12px;
    padding: 12px 15px;
}

.left{
  width:92%;
  float: left;
}
.right{
  width:8%;
  float: left;
}
.flex0{
  display: flex;

}
.maintxt{
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}
.spantxt{
  font-weight: 400;
  font-size: 12px;
  color: #6A6A6A;
  margin-left: 4%;
}
.clear{
  clear: both;
}
.text{
  color: #151313;
  font-size: 12px;
  font-weight: 500;
}
.text4{
  font-size:10px;
  font-weight: 400;
  color: #000000;
  margin-top:1%;
}
.c-btn{

  --background: #fff;
  height: 54px;
  width: 100%;
  --border-radius: 12px;
  color: #03045E;
  --border-width:1.5px;
  --border-style: solid;
  text-transform: capitalize;
  font-size: 16px;
 --box-shadow: none;
 font-family: 'Poppins', sans-serif;
}

.c-btn1{
  font-size: 16px;
  font-weight: 400;
  --background: #03045E;
  --border-radius: 12px;
  height: 54px;
  width: 100%;
  color: #FFFFFF;
  text-transform: capitalize;
  --box-shadow: none;
  font-size: 16px;
  margin-top: 10%;
  font-family: 'Poppins', sans-serif;
}
.grayimg{
  position: absolute;
  right: 0px;
  height: 16px;
  top: 31px;
}

.lbl1{
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #3C3744;
}
