<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-buttons (click)="back()">
          <div style="width:100%;">
            <img src="/assets/imgs/backbtn.svg">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="7">
        <ion-label class="textcenter">Complete Profile</ion-label>
      </ion-col>
      <ion-col style="padding-top: 10px" size="2.6">

        <img src="/assets/imgs/skiparrow.svg" style="margin-right:7%;">


      </ion-col>

    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="lbl">Basic</div>
    <div class="text1">About me</div>
    <div class="inputfield">
      <img src="/assets/imgs/user.svg" style="margin: -66px 8px 10px 10px;width: 14px;
      height: 21px;">
      <ion-textarea rows="5" cols="5" placeholder="Write here"></ion-textarea>
    </div>

    <div class="text1">Your’s age</div>
    <div style="margin:10px 0px;">
      <ion-chip (click)="optClickReply(opt)" [class.divcheck]="selectedoptIdReply == opt.id"
        [class.divuncheck]="selectedoptIdReply != opt.id" *ngFor="let opt of optionArr">
        <ion-label>{{opt.name}}</ion-label>
        <img *ngIf="selectedoptIdReply == opt.id" class="imgsize" src="assets/imgs/checkwhite.svg" />
        <img *ngIf="selectedoptIdReply != opt.id" class="imgsize" src="assets/imgs/checkgray.svg" />
      </ion-chip>
    </div>

    <div class="text1">Looking for Job</div>
    <div style="margin:10px 0px;">
      <ion-chip (click)="optjobReply(jobopt)" [class.divcheck]="selectedoptjob == jobopt.id"
        [class.divuncheck]="selectedoptjob != jobopt.id" *ngFor="let jobopt of jobsArr">
        <ion-label>{{jobopt.name}}</ion-label>
        <img *ngIf="selectedoptjob == jobopt.id" class="imgsize" src="assets/imgs/checkwhite.svg" />
        <img *ngIf="selectedoptjob != jobopt.id" class="imgsize" src="assets/imgs/checkgray.svg" />
      </ion-chip>
    </div>

    <div class="text1">Show up in employer’s active searches?</div>
    <div style="margin:10px 0px;">
      <ion-chip (click)="searchesjobReply(active)" [class.divcheck]="empsearch == active.id"
        [class.divuncheck]="empsearch != active.id" *ngFor="let active of activesearches">
        <ion-label>{{active.name}}</ion-label>
        <img *ngIf="empsearch == active.id" class="imgsize" src="assets/imgs/checkwhite.svg" />
        <img *ngIf="empsearch != active.id" class="imgsize" src="assets/imgs/checkgray.svg" />
      </ion-chip>
    </div>

    <div style="margin-top: 5%;text-align: center;" (click)="next()">
      <ion-button class="c-btn">Save & Next<span style="margin-left: 5px;
        margin-top: 5px;"><img src="assets/imgs/arrow-right.svg"></span></ion-button>
    </div>
  </div>
</ion-content>
