.wrapper{
  width: 90%;
  margin: 0% auto;
}
p{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  margin: 10px 0px 3px 0px;
}
.text{
  font-weight:400;
  font-size: 16px;
  color: #FFC300;
}
.rowcls{
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-shadow: 0px 10px 35px -10px rgb(0 0 0 / 10%);
  border-radius: 12px;
  padding: 5px 10px;
  margin-top: 4%;
  position: relative;
  width:100%;
}
.ps{
  top: 65%;
  position: absolute;
  left: 75%;
}
.c-btn{

  font-size: 16px;
  font-weight: 400;
  --background: #5463FF;
  --border-radius: 12px;
  height: 54px;
  width:261px;
  text-transform: capitalize;
}
