<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="/assets/imgs/backbtn.svg" />
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="7.5">
        <ion-label class="textleft">Invite</ion-label>
      </ion-col>
      <ion-col style="text-align: end" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 30px auto; width: 100%; text-align: center">
    <img src="/assets/imgs/working2.svg" style="height: 40px; width: 185px" />
  </div>

  <div style="width: 90%; margin: 0% auto">
    <div style="width: 100%; text-align: center">
      <img src="assets/imgs/invite.svg" />
    </div>

    <p
      style="
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #1a1d1e;
      "
    >
      Invite your friends <br />
      to Workiing
    </p>

    <p class="smalltitle">Help them find their next job!</p>

    <div style="margin-top: 20px; text-align: center">
      <ion-button class="btn1"
        >Invite Friends
        <img src="assets/imgs/rightwhite.svg" style="margin-left: 10px" />
      </ion-button>
    </div>
    <p class="smalltitle" style="text-align: center">Or</p>
    <div style="margin-top: 20px; text-align: center">
      <ion-button class="btn2">
        Share with Invite Code
        <img src="assets/imgs/rightwhite.svg" style="margin-left: 10px" />
      </ion-button>
    </div>
  </div>
</ion-content>
