<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="/assets/imgs/backbtn.svg" />
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="7.5">
        <ion-label class="textleft">FAQ's</ion-label>
      </ion-col>
      <ion-col style="text-align: end" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 90%; margin: 0px auto">
    <p class="title1">1. What is Workiing and can it help get me a Job?</p>
    <p class="title2">
      Aliquam porta nisl dolor, molestie pellentesque elit molestie in. Morbi
      metus neque, elementum ullamcorper hendrerit eget, tincidunt et nisi. Sed
      magna nunc, consequat vel aliquam vitae, porta ac mi. Integer commodo
      sapien lacus, nec interdum nisi
    </p>

    <p class="title1">2. What types of jobs are available?</p>
    <p class="title2">
      Aliquam porta nisl dolor, molestie pellentesque elit molestie in. Morbi
      metus neque, elementum ullamcorper hendrerit eget, tincidunt et nisi.
    </p>

    <p class="title1">3. How can I search for jobs?</p>
    <p class="title2">
      Aliquam porta nisl dolor, molestie pellentesque elit molestie in. Morbi
      metus neque, elementum ullamcorper hendrerit eget, tincidunt et nisi. Sed
      magna nunc, consequat vel aliquam vitae, porta ac mi. Integer commodo
      sapien lacus, nec interdum nisi
    </p>

    <p class="title1">4. How can I search for jobs?</p>
    <p class="title2">
      Aliquam porta nisl dolor, molestie pellentesque elit molestie in. Morbi
      metus neque, elementum ullamcorper hendrerit eget, tincidunt et nisi. Sed
      magna nunc, consequat vel aliquam vitae, porta ac mi. Integer commodo
      sapien lacus, nec interdum nisi
    </p>

    <p class="title1">5. How can I search for jobs?</p>
    <p class="title2">
      Aliquam porta nisl dolor, molestie pellentesque elit molestie in. Morbi
      metus neque, elementum ullamcorper hendrerit eget, tincidunt et nisi. Sed
      magna nunc, consequat vel aliquam vitae, porta ac mi. Integer commodo
      sapien lacus, nec interdum nisi
    </p>
  </div>
</ion-content>
