.wrapper{
  width: 90%;
  margin: 8% auto;
  font-family: 'Poppins', sans-serif;
}
.center-div{
  text-align: center;
}
.htext{
  color:#5463FF;
  font-size: 20px;
  font-weight: 700;
  text-align: center;

}
.para{
  margin: 5px 0px;
  font-size: 16px;
  font-weight: 400;
}

.para{
  font-size: 16px;
  font-weight: 400;
  color: #6A6A6A;
}
.timer{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #090C9B;
}
.para1{
  font-size: 14px;
  font-weight: 700;
  color: #03045E;
  text-align: center;
}
.btndiv{
  margin-top:10%;
}
.btn{
  --background: #03045E;
  height: 54px;
  width: 100%;
  left: 0px;
  top: 0px;
  --border-radius: 12px;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}

