
  p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }


  .badgeclass{
    padding: 5px 10px 5px 10px;
    color: #3C3744;
    background: #ECECEC;
    margin-left: 5px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 10px;
  }

  .badgeSeemore{
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    background: #00B6C1;
    margin-left: 5px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 10px;
    float: right;
  }
