<!-- <ion-header>
  <ion-toolbar>
    <ion-title>onboradingscreen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="wrapper">
    <img src="assets/imgs/working.svg">
    <div>
      <img src="assets/imgs/person.svg">
    </div>
    <div class="text2">Find a Perfact Job Match</div>
    <p class="para">Workiing makes it easier and faster to find your dream job.</p>


  </div>

</ion-content>
<ion-footer>
  <div class="btndiv" (click)="signin()">
    <ion-button class="btn">Let’s Get Started <span style="margin-left: 5px;
      margin-top: 5px;"><img src="assets/imgs/arrow-right.svg"></span></ion-button>
  </div>
</ion-footer>
