<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">

        <ion-buttons (click)="back()">
          <div style="width: 100%">
            <img src="/assets/imgs/backbtn.svg" />
          </div>
        </ion-buttons>

      </ion-col>
      <ion-col size="7.5" style="text-align: center">
        <ion-label class="textcenter">Post a Job</ion-label>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 90%; margin: 0 auto">
    <div style="display: flex">
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="simplehr" />
      <hr class="simplehr" />
      <hr class="simplehr" />
    </div>

    <p class="title1">Mobile Phone Verifications</p>
    <p class="title2">
      We have sent a 4-digit verification to your phone number xxx-xxxx-9045.
      Please enter it below.
    </p>

    <div class="timer">02:00</div>
    <ion-row style="display: flex; justify-content: center; margin-top: 5%">
      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4,allowNumbersOnly:true}"></ng-otp-input>
    </ion-row>

    <div style="margin-top: 20px">
      <ion-button (click)="next()" style="
          --background: #03045e;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #ffffff;
          width: 100%;
          height: 54px;
          --border-radius: 12px;
          text-transform: capitalize;
          font-family: 'Poppins', sans-serif;
        " (click)="popup()">
        Next
      </ion-button>
    </div>
  </div>
</ion-content>
