<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">

        <ion-buttons>
          <div style="width:100%;">
            <img src="/assets/imgs/backbtn.svg">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="7" style="text-align: center;">
        <img src="/assets/imgs/working2.svg">
      </ion-col>
      <ion-col size="2.5">

      </ion-col>

    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="text">Change Password</div>
    <div style="text-align:center;">
      <img src="/assets/imgs/updatepass.svg">
    </div>
    <div class="inputfield">
      <ion-input class="input" type="{{showPass ? 'text':'password' }}" placeholder="Old Password"><img
          style="margin:15px 7px 14px 15px;" src="/assets/imgs/lock-icon.svg"> </ion-input>
      <div class="icondiv" style="margin-top: 4px;">
        <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye" *ngIf="!showPass" (click)="togglePass()">
        </ion-icon>
        <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye-off" *ngIf="showPass" (click)="togglePass()">
        </ion-icon>
      </div>
    </div>

    <div class="inputfield">
      <ion-input class="input" type="{{newshowPass ? 'text':'password' }}" placeholder="New Password"><img
          style="margin:15px 7px 14px 15px;" src="/assets/imgs/lock-icon.svg"> </ion-input>
      <div class="icondiv" style="margin-top: 4px;">
        <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye" *ngIf="!newshowPass" (click)="newtogglePass()">
        </ion-icon>
        <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye-off" *ngIf="newshowPass"
          (click)="newtogglePass()">
        </ion-icon>
      </div>
    </div>

    <div class="inputfield">
      <ion-input class="input" type="{{confirmshowPass ? 'text':'password' }}" placeholder="Confirm Password"><img
          style="margin:15px 7px 14px 15px;" src="/assets/imgs/lock-icon.svg"> </ion-input>
      <div class="icondiv" style="margin-top: 4px;">
        <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye" *ngIf="!confirmshowPass"
          (click)="confirmtogglePass()">
        </ion-icon>
        <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye-off" *ngIf="confirmshowPass"
          (click)="confirmtogglePass()">
        </ion-icon>
      </div>
    </div>

    <div class="btndiv">
      <ion-button class="btn">Update Password</ion-button>
    </div>
  </div>
</ion-content>
