.bg {
  --background: url("/assets/imgs/bglogo.svg") 0 0/100% 37% no-repeat;
}
.main{
  background: #FFFFFF;
  border-radius: 30px 30px 0px 0px;
  margin-top: 55%;
}


.testclass {
  width: 105px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
  border: 2px solid rgba(140,140,140,1);
}

.image-options {
  width: 10px;
  height: 10px;
  border: 2px solid rgba(255,128,64,1);
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: none;
  display: none;
}
.image {
  background-image: url('/assets/imgs/bglogo.svg');
  width: 105px;
  height: 80px;
  position: relative;
}
.image:hover .image-options {
  display: block;
}

.textcenter{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.badgeclass{
  padding: 5px 10px 5px 10px;
  color: #3C3744;
  background: #ECECEC;
  margin-left: 10px;
}

.title1{
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  color: black;
  margin-top: 7px;
  font-family: 'Poppins', sans-serif;
}

.subtitle1{
  font-weight: 400;
  margin-left: 10px;
  color: gray;
  margin-top: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.title2{
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  color: black;
  margin-top: 7px;
  font-family: 'Poppins', sans-serif;
}

.subtitle2{
  font-weight: 400;
  margin-left: 10px;
  color: gray;
  margin-top: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.btn1{
  --background: #03045e;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 54px;
  --border-radius: 12px;
}

 .btn2{
  --background: #00B6C1;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 54px;
  --border-radius: 12px;
}

.btn3{
  --background: #ED6A4A;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 54px;
  --border-radius: 12px;
}

@media only screen and (max-width:320px)and (min-height:658px){
  .textcenter{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
  }
}
