<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-buttons>
          <div style="width:100%;" (click)="back()">
            <img src="/assets/imgs/backbtn.svg">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="7">
        <ion-label class="textcenter">Complete Profile</ion-label>
      </ion-col>
      <ion-col style="padding-top: 10px" size="2.6">

        <img src="/assets/imgs/skiparrow.svg" style="margin-right:7%;">


      </ion-col>

    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <ion-row>
      <ion-col>
        <div style="display: flex; flex-direction: column; align-items: center">
          <img style="margin-left: 6px; height: 24px; width: 24px" src="assets/imgs/tickblue.svg" />
          <div class="lbl1">Basic</div>
        </div>

        <img class="grayimg" src="assets/imgs/rightarr.svg" />
      </ion-col>

      <ion-col>
        <div style="display: flex; flex-direction: column; align-items: center">
          <img style="margin-left: 6px; height: 24px; width: 24px" src="assets/imgs/tickblue.svg" />
          <div class="lbl1">Starter</div>
        </div>

        <img class="grayimg" src="assets/imgs/rightarr.svg" />
      </ion-col>

      <ion-col>
        <div style="display: flex; flex-direction: column; align-items: center">
          <img style="margin-left: 6px; height: 24px; width: 24px" src="assets/imgs/tickblue.svg" />
          <div class="lbl1">Advanced</div>
        </div>

        <img class="grayimg" src="assets/imgs/rightarr.svg" />
      </ion-col>

      <ion-col>
        <div style="display: flex; flex-direction: column; align-items: center">
          <img style="margin-left: 6px; height: 24px; width: 24px" src="assets/imgs/tickgray.svg" />
          <div class="lbl1">All Star</div>
        </div>
      </ion-col>
    </ion-row>
    <div class="lbl">Advanced</div>
    <div class="text">Share your experience!</div>
    <div class="para">This is how Employers will see your experience</div>
    <div class="text2">Experience</div>
    <div class="flex-c">
      <div class="text3">Total Experience</div>
      <div class="text4">1.5 years</div>
    </div>
    <div>
      <ion-progress-bar class="progress3" [value]="p_bar_value"></ion-progress-bar>
    </div>

    <div class="main">
      <div class="left">
        <div class="flex0">
          <div>
            <img src="assets/imgs/netflix.svg">
          </div>
          <div style="margin-left: 3%;margin-top: 3%;width: 100%;">
            <div class="maintxt">Position <span class="spantxt">Assistant Manager</span></div>
            <div class="maintxt1">Restaurant Team Member</div>
          </div>
        </div>
        <div style="margin-top:2%;">
          <ion-badge class="badgetxt">1.5 years experience</ion-badge>
          <ion-badge class="badgetxt1">Hotel & Leisure</ion-badge>
        </div>
      </div>

      <div class="right">
        <img src="assets/imgs/pen.svg">
      </div>
      <div class="clear"></div>
    </div>

    <div style="width: 80%;
    margin: 15% auto;">
      <ion-button class="c-btn" (click)="nextto()">Add more Experience<span style="margin-left: 5px;
        margin-top: 5px;"><img src="assets/imgs/bluearrow.svg"></span></ion-button>
      <ion-button class="c-btn1">Save & Next<span style="margin-left: 5px;
          margin-top: 5px;"><img src="assets/imgs/gray-rightarrow.svg"></span></ion-button>
    </div>
  </div>
</ion-content>
