<!-- <ion-header>
  <ion-toolbar>
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="wrapper">
    <div class="imgdiv">
      <img src="/assets/imgs/working2.svg">
    </div>

    <div class="htext">Change password</div>
    <p class="para">Please create a new password</p>

    <div style="margin-top:5%;">
      <div class="inputfield">
        <ion-input class="input" type="{{showPass ? 'text':'password' }}" placeholder="New Password"
          [(ngModel)]="password"><img style="margin:15px 7px 14px 15px;" src="/assets/imgs/lock-icon.svg"> </ion-input>
        <div class="icondiv" style="margin-top: 4px;">
          <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye" *ngIf="!showPass" (click)="togglePass()">
          </ion-icon>
          <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye-off" *ngIf="showPass" (click)="togglePass()">
          </ion-icon>
        </div>
      </div>
      <div class="inputfield">
        <ion-input class="input" type="{{cshowPass ? 'text':'password' }}" placeholder="Confirm Password"
          [(ngModel)]="confirmpassword"><img style="margin:15px 7px 14px 15px;" src="/assets/imgs/lock-icon.svg">
        </ion-input>
        <div class="icondiv" style="margin-top: 4px;">
          <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye" *ngIf="!cshowPass" (click)="ctogglePass()">
          </ion-icon>
          <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye-off" *ngIf="cshowPass"
            (click)="ctogglePass()">
          </ion-icon>
        </div>
      </div>
    </div>


    <div class="btndiv" (click)="reset()">
      <ion-button class="btn">Reset Password</ion-button>
    </div>

  </div>

</ion-content>
