<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-buttons (click)="back()">
          <div style="width:100%;">
            <img src="/assets/imgs/backbtn.svg">

          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="7">
        <ion-label class="textcenter">Complete Profile</ion-label>
      </ion-col>
      <ion-col style="padding-top: 10px" size="2.6">
        <img src="/assets/imgs/skiparrow.svg" style="margin-right: 7%" />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="lbl">Advanced</div>
    <div class="text">Share your experience!</div>
    <div class="para">This is how Employers will see your experience</div>
    <div class="text2">Experience</div>

    <div class="box">
      <!-- <div style="display: flex;
      justify-content: space-around;">
        <img src="assets/imgs/file-certificate.svg">
        <div>
          <div class="text3">There is no work experience</div>
          <div class="text3"> please add it.</div>
        </div>

      </div>
      <div style="margin-top: 5%;">
        <ion-button class="c-btn">Add Experience<span style="margin-left: 5px;
          margin-top: 5px;"><img src="assets/imgs/arrow-right.svg"></span></ion-button>
      </div> -->
      <ion-row>
        <ion-col size="1.5" style="text-align: center">
          <img src="assets/imgs/file-certificate.svg" />
        </ion-col>
        <ion-col size="10">
          <div class="text3">
            There is no work experience <br />please add it
          </div>
        </ion-col>
        <div style="margin-top: 5%;width: 100%;
        text-align: center;" (click)="add()">
          <ion-button class="c-btn">Add Experience<span style="margin-left: 5px;
            margin-top:3px;"><img src="assets/imgs/arrow-right.svg"></span></ion-button>
        </div>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div style="margin: 5% auto;width:80%;
  text-align: center;">
    <ion-button class="c-btn1">Save & Next<span style="margin-left: 5px;
      margin-top:3px;"><img src="assets/imgs/gray-rightarrow.svg"></span></ion-button>
  </div>
</ion-footer>
