<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="8" style="padding-left: 2%;">

        <div style="width:100%;">
          <img src="/assets/imgs/working2.svg" style="width: 121px;
            height: 26px;">
        </div>

      </ion-col>
      <ion-col size="2">

      </ion-col>
      <ion-col style="text-align:center;" size="2">
        <img src="/assets/imgs/xmark.svg">


      </ion-col>

    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="wrapper">
    <div class="link">
      <ion-icon name="chevron-back-outline" class="cicon" style="color:#03045E;"></ion-icon>
      <ion-icon name="chevron-forward-outline" class="cicon" style="color:#6A6A6A;"></ion-icon>
      <ion-input type="text" placeholder="https://lensa.com/talent/job/..."></ion-input>
      <img src="assets/imgs/rotate-right.svg">
    </div>
    <p class="para">This job is hosted on the employer’s website</p>

    <div style="display:flex;display: flex;
    align-items: center;">
      <div>
        <img src="assets/imgs/pizzalogo.svg">
      </div>
      <div style="margin-left:2%;">
        <div class="text">Restaurant Team Member - Now Hiring</div>
        <div style="display:flex;display: flex;
        align-items: center;">
          <div class="text2">Pizza Hut |</div>
          <img src="assets/imgs/icons/location-dot.svg" style="width:11px;height: 11px;margin-top: 1.5%;">
          <div class="text2"> Toronto, Canada</div>
        </div>

      </div>
    </div>
    <div class="htext">Job Description</div>
    <div class="shortdesc">Aliquam porta nisl dolor, molestie pellentesque elit molestie in. Morbi metus neque,
      elementum
      ullamcorper
      hendrerit eget, tincidunt et nisi. Sed magna nunc, consequat vel aliquam vitae, porta ac mi. Integer commodo
      sapien lacus, nec interdum nisi vehicula aliquam. Aliquam enim lorem, laoreet ut egestas quis, rutrum sed lectus.
      Duis et purus in dolor bibendum egestas vel vitae urna. View more</div>
  </div>

  <div class="main">
    <div class="wrapper">
      <div class="label">Job title</div>
      <div class="inputfield">
        <ion-input class="input" type="text" placeholder="Restaurant Team Member"><img
            style="margin:15px 7px 14px 15px;" src="/assets/imgs/jobsblue.svg">
        </ion-input>
      </div>

      <div class="label">Location</div>
      <div class="inputfield">
        <ion-input class="input" type="text" placeholder="Crockett, TX"><img style="margin:15px 7px 14px 15px;"
            src="/assets/imgs/locationblue.svg">
        </ion-input>
      </div>

      <div class="label">Email address</div>
      <div class="inputfield">
        <ion-input class="email" type="text" placeholder="Email Address"><img style="margin:15px 7px 14px 15px;"
            src="/assets/imgs/messageblue.svg">
        </ion-input>
      </div>
      <p class="para2">By signing up your agree to Lensa’s Terms and Privacy Poicy. Lensa is ajob search engine. We are
        not an agent or representative of ant employer
      </p>
      <div style="text-align:center;">
        <img src="assets/imgs/shape.svg">
      </div>

      <div style="text-align:center;">
        <ion-button class="btn">Submit<span style="margin-left: 5px;
          margin-top: 5px;"><img src="assets/imgs/arrow-right.svg"></span></ion-button>
      </div>
    </div>

  </div>
</ion-content>
