<!-- <ion-header>
  <ion-toolbar>
    <ion-title>addeducation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="background: rgba(0, 0, 0, 0.8); height:100%; width:100%">
    <div class="wrapper">
      <div class="inner">
        <div class="text">Tell us about your education and training!</div>
        <div class="label">Institution</div>
        <div class="inputfield">
          <ion-input class="input" type="text" placeholder="Institution Name">
          </ion-input>
        </div>
        <div class="label">Add Description </div>
        <div class="inputfield">
          <ion-input class="input" type="text" placeholder="Example Linguistic MA">
          </ion-input>
        </div>

        <div style="margin-top: 5%;text-align: center;" (click)="nextto()">
          <ion-button class="c-btn">Save</ion-button>
        </div>

      </div>

    </div>
  </div>
</ion-content>
