<!-- <ion-header>
  <ion-toolbar>
    <ion-title>completeprofilepopup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="wrapper">
    <div style="text-align: center;">
      <img src="/assets/imgs/allstars.svg" style="margin-top: 5%;">
      <div class="c-text">Congratulation</div>
      <div class="c-para">You have successfully<br>Complete your Profile</div>
    </div>
    <div style="margin-top: 5%;text-align: center;" (click)="dismiss()">
      <ion-button class="c-btn">Okay & Preview<span style="margin-left: 5px;
        margin-top: 5px;"><img src="assets/imgs/arrow-right.svg"></span></ion-button>
    </div>
  </div>
</ion-content>
