<ion-content>
  <ion-row class="center-icons" style="position: absolute; z-index: 9999; width: 100%; top: 20px">
    <ion-col size="0.3"></ion-col>
    <ion-col size="2">
      <ion-buttons>
        <div style="width: 100%">
          <img src="/assets/imgs/backbtnwhite.svg" />
        </div>
      </ion-buttons>
    </ion-col>
    <ion-col size="7.5" style="text-align: center">
      <p style="
          color: white;
          font-family: 'Poppins', sans-serif;
          font-size: 20px;
          font-weight: 700;
        ">
        Employer Profile
      </p>
    </ion-col>
    <ion-col style="text-align: center" size="2">
      <img src="/assets/imgs/share.svg" />
    </ion-col>
  </ion-row>

  <img style="width: 100%" src="assets/imgs/employeprofile.svg" />

  <div style="
      margin-top: -20px;
      background: rgb(255, 255, 255);
      height: auto;
      border-radius: 20px;
      position: relative;
    ">
    <div>
      <img style="
          position: absolute;
          left: 30%;
          top: -85px;
          border-radius: 50%;
        " src="assets/imgs/profileimg.svg" />

      <p style="color: white; margin-left: 5px">T</p>

      <div style="text-align: center; margin-top: 50px">
        <p style="font-family: 'Poppins', sans-serif; font-weight: 600">
          Angela W.
        </p>
        <div style="display: flex; justify-content: center">
          <p style="
              margin-left: 10px;
              color: gray;
              margin-top:3px;
              font-size: 12px;
              font-family: 'Poppins', sans-serif;
            ">
            CEO at example
          </p>
        </div>
      </div>

      <ion-row>
        <ion-col>
          <p class="title2">Company Description</p>
          <p class="subtitle2">
            Aliquam porta nisl dolor, molestie pellentesque elit molestie in. Morbi metus neque, elementum ullamcorper
            hendrerit eget, tincidunt et nisi. Sed magna nunc, consequat vel aliquam vitae, View more
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="title1">Company Website</p>
          <p class="subtitle1">AngelaQ90@gmail.com</p>
        </ion-col>
      </ion-row>

      <ion-segment value="All Posts" id="segment" (ionChange)="segmentChanged($event)" #mySegment>
        <ion-segment-button value="AllPosts">
          <ion-label>All Posts</ion-label>
        </ion-segment-button>
        <ion-segment-button value="RecentJobsPosted">
          <ion-label>Recent Jobs Posted</ion-label>
        </ion-segment-button>
      </ion-segment>


      <div style="width: 92%;
      margin:4% auto;">
        <div *ngIf="requestsType == 'AllPosts'">
          <div style="text-align:center;">
            <img src="assets/imgs/findingjobs.svg">
          </div>
        </div>

        <div *ngIf="requestsType == 'RecentJobsPosted'">
          <div class="main">
            <div class="left">
              <div class="flex0">
                <div>
                  <img src="assets/imgs/netflix.svg">
                </div>
                <div style="margin-left:1%;margin-top: 3%;width: 100%;">
                  <div class="maintxt">Restaurant Team Member</div>
                  <div class="maintxt1">Full Time</div>
                </div>
              </div>
              <div style="display: flex;
              align-items: center;">
                <div style="margin-top: 2%;
                display: flex;
                align-items: center;
                margin-left: 3%;width: 100%;">
                  <img src="assets/imgs/location-dot.svg" style="width: 12px;
                  height: 13px;">
                  <div class="text4" style="margin-left:2%;">Toronto, Canada</div>
                </div>
                <div>
                  <ion-badge slot="start" class="badge">Testaurant/Food Server</ion-badge>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>
