<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="2" style="padding-left: 25px">
        <ion-buttons>
          <div style="width: 100%">
            <img src="/assets/imgs/backbtn.svg" />
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <p>Pending(22)</p>
      </ion-col>
      <ion-col style="text-align: center" size="2">
        <img src="/assets/imgs/user2.svg" />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
