<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="wrapper">
    <div class="center-div">
      <img src="/assets/imgs/working2.svg">
      <div class="htext">Forgot password</div>
      <img src="/assets/imgs/lock-logo.svg" style="margin: 5% 0%;">
      <p class="para">Please enter your register <br>email to reset password.</p>
    </div>

    <div class="inputfield">
      <ion-input class="input" type="email" placeholder="Email Address"><img style="margin:15px 7px 14px 15px;"
          src="/assets/imgs/message.svg"> </ion-input>
    </div>

    <div class="btndiv" (click)="popup()">
      <ion-button class="btn">Next</ion-button>
    </div>
  </div>



</ion-content>
