
.toogleclass{
  padding: 0px;
  float: right;
  --handle-width: 20px;
  --handle-height: 20px;
  width: 40px;
  height: 24px;
  --background: #E9E9E9;
  --background-checked: #03045E;
  --handle-background-checked: #fff;
  --handle-background: #fff;
  margin-top: 1.5%;
  --handle-spacing: 4px;
}
.rowcls{
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 35px -10px rgb(64 59 75 / 20%);
  border-radius: 12px;
  padding: 5px 10px;
  margin-top: 5%;
}
