.textcenter{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #03045E;
  text-align: center;
  margin-left: 5%;
}

.container {
  width: 90%;
  margin: auto;
}


.chat {
  margin-top: 20px;
}
.reciever {
  color: #1A1D1E;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: auto;
  padding: 15px;
  text-align: justify;
  max-width:250px;
  white-space: pre-line;
  background: #F2F2F2;
  border-radius: 12px;
}
.messageTime {
  font-size: 10px;
  color: #7a7a7a;
  margin-top: 4%;
}
.messageTimeSender {
  font-size: 10px;
  color: #3C3744;
  text-align: end;
}
.sender_message_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.senderMessage {
  color: #1A1D1E;
  font-size: 14px;
  font-weight: 500;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  width: auto;
  padding: 15px;
  text-align: justify;
  max-width:250px;
  white-space: pre-line;
  background: rgba(3, 4, 94, 0.1);
  border-radius: 12px;
}
.attachment_sender {
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}
.attachment_receiver {
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 5px;
  object-fit: cover;
}

.reciever_message_cont {
  display: grid;
  justify-content: flex-start;
}
.input{
  color: #9093A3;
  font-size: 14px;
  font-weight:400;
  --padding-start: 10px;
  --padding-end: 10px;
}
