<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="/assets/imgs/menu.svg" />
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="7.5" style="text-align: center">
        <ion-label class="textcenter">Post a Job</ion-label>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 90%; margin: 0 auto">
    <div style="display: flex">
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="activehr" />
    </div>
  </div>
  <div>
    <p class="title1">Add Photos</p>

    <div style="width: 90%; margin: 0% auto">
      <ion-label class="smalltitle">Job postings with a professional image are more likely to receive
        applications from candidates. Include a photo that captures the
        atmosphere of your team or business.</ion-label>

      <img style="margin-top: 20px" src="assets/imgs/selectimgcover.svg" />

      <!-- img div -->

      <p style="margin-bottom: 0px; margin-left: 0px; margin-top: 20px">
        Maximum 5 images
      </p>

      <div style="display: flex; flex-wrap: wrap">
        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>

        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>

        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>

        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>

        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>
      </div>
      <!-- imgsssss -->
    </div>

    <div style="width: 90%; margin: 0px auto; margin-top: 20px">
      <ion-button style="
          --background: #03045e;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #ffffff;
          width: 100%;
          height: 54px;
          --border-radius: 12px;
          text-transform: capitalize;
          font-family: 'Poppins', sans-serif;
        " (click)="next()">
        Save & Next
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="tabsbar">
    <div (click)="goToJobList()">
      <img src="/assets/imgs/icons/suitcase.svg">
      <div class="tlbl">Find Job</div>
    </div>
    <div (click)="goToInbox()" style="position: relative;">
      <img src="/assets/imgs/icons/message-lines.svg">
      <div class="tlbl">Messages</div>
      <ion-badge class="tbadge">1</ion-badge>
    </div>
    <div (click)="goToPostJob()">
      <img src="/assets/imgs/icons/addactive.svg">
    </div>
    <div (click)="goToSaveJobs()">
      <img src="/assets/imgs/icons/bookmark.svg">
      <div class="tlbl">Save Jobs</div>
    </div>
    <div (click)="goToProfile()">
      <img src="/assets/imgs/icons/user.svg">
      <div class="tlbl">Profile</div>
    </div>
  </div>
</ion-footer>
