<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="2">
        <ion-buttons>
          <div style="width: 100%">
            <img src="/assets/imgs/menu.svg" />
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <p
          style="
            color: #03045e;
            margin-top: 7px;
            font-family: 'Poppins', sans-serif;
          "
        >
          Post a Job
        </p>
      </ion-col>
      <ion-col style="text-align: center" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 90%; margin: 0 auto">
    <div style="display: flex">
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="simplehr" />
    </div>
  </div>
  <div>
    <p class="title1">Add Photos</p>

    <div style="width: 90%; margin: 0% auto">
      <ion-label class="smalltitle"
        >Job postings with a professional image are more likely to receive
        applications from candidates. Include a photo that captures the
        atmosphere of your team or business.</ion-label
      >

      <img style="margin-top: 20px" src="assets/imgs/selectimgcover.svg" />

      <!-- img div -->

      <p style="margin-bottom: 0px; margin-left: 0px; margin-top: 20px">
        Maximum 5 images
      </p>

      <div style="display: flex; flex-wrap: wrap">
        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>

        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>

        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>

        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>

        <div class="addimgdiv">
          <img class="addimgcls" src="assets/imgs/pluscircle.svg" />
        </div>
      </div>
      <!-- imgsssss -->
    </div>

    <div style="width: 90%; margin: 0px auto; margin-top: 20px">
      <ion-button
        style="
          --background: #03045e;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #ffffff;
          width: 100%;
        "
      >
        Save & Next
      </ion-button>
    </div>
  </div>
</ion-content>
