<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="2" style="padding-left: 20px;">
        <ion-buttons>
          <div style="width:100%;" (click)="goback()">
            <img src="/assets/imgs/chevron-left.svg">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8" style="text-align: center;">
        <img src="/assets/imgs/working2.svg">
      </ion-col>
      <ion-col class="titleclass" size="2">
      </ion-col>

    </ion-row>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div class="wrapper">
    <div class="text">Sign Up as {{gettypename}}</div>
    <div class="text1">Just one click away..!</div>
    <p class="para">Fisnishing sign up to apply to jobs</p>

    <div class="inputfield">
      <ion-input class="input" type="text" placeholder="User Name"><img style="margin:15px 7px 14px 15px;"
          src="/assets/imgs/user.svg"> </ion-input>
    </div>
    <div class="inputfield">
      <ion-input class="input" type="text" placeholder="Last Name"><img style="margin:15px 7px 14px 15px;"
          src="/assets/imgs/user.svg"> </ion-input>
    </div>
    <div class="inputfield">
      <ion-input class="input" type="email" placeholder="Email Address"><img style="margin:15px 7px 14px 15px;"
          src="/assets/imgs/message.svg"> </ion-input>
    </div>
    <div class="inputfield">
      <div style="display: flex;
      align-items: center;">
        <img style="margin:15px 7px 14px 15px;" src="/assets/imgs/phone.svg">
        <img style="margin:15px 7px 14px 7px;width: 23px;
        height: 23px;
        border-radius: 90px;" src="{{flagimg}}" (click)="openfflaglist()">
        <div class="code" (click)="openfflaglist()">{{countrycode}}
        </div>
        <div [class.angleup]="upicon==true" style="margin-left:2%;">
          <img src="/assets/imgs/angle-down.svg" *ngIf="upicon==false">
          <img src="/assets/imgs/angle-up.svg" *ngIf="upicon==true" style="width: 14px;
          height: 21px;">
        </div>
        <ion-input class="input" type="tel" placeholder="Phone Number">

        </ion-input>
      </div>

    </div>

    <!-- flag list shown -->
    <div *ngIf="flaglist==true">
      <ion-list style="height: 150px;
      overflow: scroll;
      width: 58px;
      margin-left:27px;box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;">
        <ion-item *ngFor="let item of items" (click)="viewDetails(item)">
          <ion-avatar item-start>
            <img src="{{item.flag}}" style="width: 30px;
            height: 30px;">

          </ion-avatar>
        </ion-item>
      </ion-list>
    </div>
    <!-- flag list shown -->

    <div class="inputfield">
      <ion-input class="input" type="{{showPass ? 'text':'password' }}" placeholder="Password"><img
          style="margin:15px 7px 14px 15px;" src="/assets/imgs/lock-icon.svg"> </ion-input>
      <div class="icondiv" style="margin-top: 4px;">
        <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye" *ngIf="!showPass" (click)="togglePass()">
        </ion-icon>
        <ion-icon style="color:#6A6A6A ; margin-right: 15px;" name="eye-off" *ngIf="showPass" (click)="togglePass()">
        </ion-icon>
      </div>
    </div>

    <p class="para1">By signing up, you agree to our <span style="color:#03045E;">Terms and Conditions</span> as well as
      our <span style="color:#03045E;">Privacy Policy</span>.</p>

    <div class="btndiv" (click)="gotonext()">
      <ion-button class="btn">Log Up</ion-button>
    </div>

    <p style="font-family: 'Poppins', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #03045E;
    ">Oops. I’m an Employer</p>

    <p class="para" style="text-align:center;">Or Continue with</p>

    <div style="display: flex;
    justify-content: center;margin-top:5%;">
      <img src="/assets/imgs/google.svg">
      <img src="/assets/imgs/facebook.svg" style="margin-left: 6%;">
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="ftext">Already have an account?<span style="color:#5463FF;" (click)="signin()">Sign In</span></div>
</ion-footer>
