<ion-content>
  <ion-row class="center-icons" style="position: absolute; z-index: 9999; width: 100%; top: 20px">
    <ion-col size="2" style="padding-left: 25px">
      <ion-buttons (click)="goback()">
        <div style="width: 100%">
          <img src="/assets/imgs/backbtnwhite.svg" />
        </div>
      </ion-buttons>
    </ion-col>
    <ion-col size="8" style="text-align: center">
      <ion-label class="textcenter">North shore Steakhouse</ion-label>
    </ion-col>
    <ion-col style="text-align: center" size="2" (click)="edit()">
      <img src="assets/imgs/edit.svg" />
    </ion-col>
  </ion-row>

  <img style="width: 100%" src="assets/imgs/job11banner.svg" />

  <div style="
      margin-top: -20px;
      background: rgb(255, 255, 255);
      height: auto;
      border-radius: 20px;
      position: relative;
    ">
    <p style="color: white; margin-left: 20px">t</p>
    <div>
      <div style="
          background: #ffffff;
          border: 1px solid #ededed;
          box-shadow: 0px 0px 35px -10px rgb(0 0 0 / 10%);
          border-radius: 12px;
          margin: 10px 10px 0px 10px;
          padding: 10px;
        ">
        <div style="display: flex; align-items: center">
          <img style="margin-right: 20px; height: 70px; width: 70px" src="assets/imgs/joblogo.svg" />
          <div>
            <p style="font-family: 'Poppins', sans-serif; font-weight: 600">
              Pizza Hut
            </p>
            <p style="
                color: gray;
                margin-top: 7px;
                font-family: 'Poppins', sans-serif;
              ">
              Toronto, Canada
            </p>
          </div>
        </div>
        <div style="margin-top: 10px">
          <ion-badge class="badgeclass">Full Time</ion-badge>
          <ion-badge class="badgeclass">Host & Server</ion-badge>
          <ion-badge class="badgeclass">18+</ion-badge>
        </div>

        <div style="display: flex; margin-top: 10px; margin-left: 10px">
          <img src="assets/imgs/pinblack.svg" />
          <p style="margin-left: 10px" class="subtitle1">
            491 Mam St, Rowley, MA 01969 US
          </p>
        </div>
      </div>

      <div style="padding: 10px">
        <ion-row>
          <ion-col>
            <p class="title1">Salary</p>
            <p class="subtitle1">$15 - $ 17 (Per Hour)</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="title1">Experience</p>
            <p class="subtitle1">Yes</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="title2">Job Description</p>
            <p class="subtitle2">
              Aliquam porta nisl dolor, molestie pellentesque elit molestie in.
              Morbi metus neque, elementum ullamcorper hendrerit eget, tincidunt
              et nisi. Sed magna nunc, consequat vel aliquam vitae, porta ac mi.
              Integer commodo sapien lacus, nec interdum nisi vehicula aliquam.
              Aliquam enim lorem, laoreet ut egestas quis, rutrum sed lectus.
              Duis et purus in dolor bibendum egestas vel vitae urna. View more
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="title2">Company Website</p>
            <p class="subtitle2" style="color: #5463ff">www.example.com</p>
          </ion-col>
        </ion-row>

        <div style="width: 75%; margin: 20px auto">
          <ion-button class="btn1" (click)="goToJob12()">
            Pending(0)
          </ion-button>
          <ion-button class="btn2" (click)="goToJob13()">
            Shortlisted(0)
          </ion-button>
          <ion-button class="btn3" (click)="goToJob14()">
            Interviewing(0)
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
