<ion-content>
  <ion-row class="center-icons" style="position: absolute; z-index: 9999; width: 100%; top: 20px">
    <ion-col size="0.3"></ion-col>
    <ion-col size="2">
      <ion-buttons>
        <div style="width: 100%">
          <img src="/assets/imgs/backbtnwhite.svg" />
        </div>
      </ion-buttons>
    </ion-col>
    <ion-col size="7.5" style="text-align: center">
      <p style="
          color: white;
          font-family: 'Poppins', sans-serif;
          font-size: 20px;
          font-weight: 700;
        ">
        Job Details
      </p>
    </ion-col>
    <ion-col style="text-align: center" size="2"> </ion-col>
  </ion-row>

  <img style="width: 100%" src="assets/imgs/bglogo.svg" />

  <div style="
      margin-top: -20px;
      background: rgb(255, 255, 255);
      height: auto;
      border-radius: 20px;
      position: relative;
    ">
    <div>
      <img style="
          position: absolute;
          left: 32%;
          top: -57px;
          background: white;
          padding: 10px;
          border-radius: 50%;
        " src="assets/imgs/joblogo.svg" />

      <p style="color: white; margin-left: 5px">T</p>

      <div style="text-align: center; margin-top: 60px">
        <p style="font-family: 'Poppins', sans-serif; font-weight: 600">
          Pizza Hut
        </p>
        <div style="display: flex; justify-content: center">
          <img style="display: flex; justify-content: center" src="assets/imgs/pin.svg" />
          <p style="
              margin-left: 10px;
              color: gray;
              margin-top: 7px;
              font-family: 'Poppins', sans-serif;
            ">
            Toronto, Canada
          </p>
        </div>
      </div>

      <div style="padding: 10px">
        <div>
          <ion-badge class="badgeclass">Full Time</ion-badge>
          <ion-badge class="badgeclass">Host & Server</ion-badge>
          <ion-badge class="badgeclass">18+</ion-badge>
        </div>

        <ion-row>
          <ion-col>
            <p class="title1">Salary</p>
            <p class="subtitle1">$15 - $ 17 (Per Hour)</p>
          </ion-col>

          <ion-col>
            <p class="title1">Tips/Commission</p>
            <p class="subtitle1">Yes</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="title1">Experience</p>
            <p class="subtitle1">Yes</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="title2">Job Description</p>
            <p class="subtitle2">
              Aliquam porta nisl dolor, molestie pellentesque elit molestie in.
              Morbi metus neque, elementum ullamcorper hendrerit eget, tincidunt
              et nisi. Sed magna nunc, consequat vel aliquam vitae, porta ac mi.
              Integer commodo sapien lacus, nec interdum nisi vehicula aliquam.
              Aliquam enim lorem, laoreet ut egestas quis, rutrum sed lectus.
              Duis et purus in dolor bibendum egestas vel vitae urna. View more
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="title2">Company Website</p>
            <p class="subtitle2" style="color: #5463ff">www.example.com</p>
          </ion-col>
        </ion-row>

        <div>
          <ion-button style="
              --background: #03045e;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 16px;
              text-align: center;
              color: #ffffff;
              width: 98%;
              --border-radius: 12px;
              height: 54px;
              text-transform: capitalize;
            ">
            Apply Now
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
