.headBgGlobalblue{
  --padding-top: 6%;
  --background: #090C9B;
    box-shadow: 0px -10px 35px -15px rgb(64 59 75 / 15%);
    height: 200px;
    border-radius: 0px 0px 30px 30px;
}
.headertxt{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
