<ion-content>
  <ion-header [translucent]="true" class="ion-no-border cheader">
    <ion-toolbar class="headBgGlobalblue">
      <ion-row class="center-icons">
        <ion-col size="0.3"></ion-col>
        <ion-col size="1.8">
          <ion-menu-toggle>
            <ion-buttons>
              <div style="width: 100%">
                <img src="/assets/imgs/menu.svg" />
              </div>
            </ion-buttons>
          </ion-menu-toggle>
        </ion-col>
        <ion-col size="5.5">
          <div>
            <div class="headertxt">Profile</div>
          </div>
        </ion-col>
        <ion-col style="text-align: end" size="4">
          <div>
            <img src="/assets/imgs/eye.svg" style="margin-right: 7%" />
            <img src="/assets/imgs/editprofile.svg" style="margin-left: 13px" />
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <div style="
      width: 100%;
      position: absolute;
      top: 140px;
      z-index: 99999;
      text-align: center;
    ">
    <img src="/assets/imgs/user.png" width="120" style="border-radius:90px;">
  </div>
  <div style="
  width: 100%;
  position: absolute;
  top: 150px;
  z-index: 99999;
  text-align: right;
  left: -4%;
">
    <img src="/assets/imgs/gallery.svg">
  </div>
  <div class="wrapper">
    <div style="text-align: center;">
      <div class="text">Adom Shafi</div>
      <div class="para">hellobesnik@gmail.com</div>
    </div>

    <div style="display: flex; justify-content: center">
      <img style="display: flex; justify-content: center" src="assets/imgs/pin.svg" />
      <p style="
          margin: 4px 0px 0px 6px;
          color: gray;
          margin: 4px 0px 0px 6px;
          font-family: 'Poppins', sans-serif;
        ">
        Corckett, TX
      </p>
    </div>

    <div class="box">
      <div class="text2">Subscription Plan</div>
      <ion-button class="btn1">Starter</ion-button>
    </div>

    <div style="background: #fff;
    border: 1px solid #EDEDED;
    box-shadow: 0px 10px 35px -10px rgb(0 0 0 / 10%);
    border-radius: 12px;
    margin-top: 5%;
    padding: 10px 15px;">
      <ion-row>
        <ion-col>
          <div style="display: flex; flex-direction: column; align-items: center">
            <img style="margin-left: 6px; height: 24px; width: 24px" src="assets/imgs/tickblue.svg" />
            <div class="lbl1">Basic</div>
          </div>

          <img class="grayimg" src="assets/imgs/rightarr.svg" />
        </ion-col>

        <ion-col>
          <div style="display: flex; flex-direction: column; align-items: center">
            <img style="margin-left: 6px; height: 24px; width: 24px" src="assets/imgs/tickblue.svg" />
            <div class="lbl1">Starter</div>
          </div>

          <img class="grayimg" src="assets/imgs/rightarr.svg" />
        </ion-col>

        <ion-col>
          <div style="display: flex; flex-direction: column; align-items: center">
            <img style="margin-left: 6px; height: 24px; width: 24px" src="assets/imgs/tickgray.svg" />
            <div class="lbl1">Advanced</div>
          </div>

          <img class="grayimg1" src="assets/imgs/rightarr.svg" />
        </ion-col>

        <ion-col>
          <div style="display: flex; flex-direction: column; align-items: center">
            <img style="margin-left: 6px; height: 24px; width: 24px" src="assets/imgs/tickgray.svg" />
            <div class="lbl1">All Star</div>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <ion-row style="margin-top:5%;">
      <ion-col size="5.5" class="r-main">

        <div style="text-align:end;">
          <img src="assets/imgs/download.svg" />
        </div>

        <img src="assets/imgs/Profiledata-bro.svg" />
        <div class="text4">Workiing Resume</div>

      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="5.5" class="r-main">
        <div style="background:#fff;color:#fff;font-size: 25px">T</div>
        <img src="assets/imgs/contactus.svg" />
        <div class="text4">Contact Workiing</div>

      </ion-col>
    </ion-row>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <div class="tabsbar">
    <div>
      <img src="/assets/imgs/icons/suitcase.svg">
      <div class="tlbl">Find Job</div>
    </div>
    <div style="position: relative;">
      <img src="/assets/imgs/icons/message-lines.svg">
      <div class="tlbl">Messages</div>
      <ion-badge class="tbadge">1</ion-badge>
    </div>
    <div>
      <img src="/assets/imgs/icons/add.svg">
    </div>
    <div>
      <img src="/assets/imgs/icons/bookmark.svg">
      <div class="tlbl">Save Jobs</div>
    </div>
    <div>
      <img src="/assets/imgs/icons/useractive.svg">
      <div class="tlbl">Profile</div>
    </div>
  </div>
</ion-footer>
