<ion-content>
  <ion-header [translucent]="true" class="ion-no-border cheader">
    <ion-toolbar class="headBgGlobalblue">
      <ion-row class="center-icons">
        <ion-col size="0.3"></ion-col>
        <ion-col size="1.8">
          <ion-menu-toggle>
            <ion-buttons>
              <div style="width: 100%">
                <img src="/assets/imgs/menu.svg" />
              </div>
            </ion-buttons>
          </ion-menu-toggle>
        </ion-col>
        <ion-col size="5.5">
          <div>
            <div class="headertxt">Profile</div>
          </div>
        </ion-col>
        <ion-col style="text-align: end" size="4">
          <div>
            <img src="/assets/imgs/eye.svg" style="margin-right: 7%" />
            <img src="/assets/imgs/editprofile.svg" style="margin-left: 13px" />
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <div
    style="
      width: 100%;
      position: absolute;
      top: 140px;
      z-index: 99999;
      text-align: center;
    "
  >
    <img src="/assets/imgs/user.png" width="120" />
  </div>
</ion-content>
