.headBgGlobalblue{
  --padding-top: 6%;
  --background: #090C9B;
    box-shadow: 0px -10px 35px -15px rgb(64 59 75 / 15%);
    height: 200px;
    border-radius: 0px 0px 30px 30px;
}
.headertxt{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.wrapper{
  width: 90%;
  margin: 15% auto;
}

.text{
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.para{
  font-weight: 400;
  font-size: 14px;
  color: #6A6A6A;
  margin-top: 1%;
}
.box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFC300;
  border: 1px solid #EDEDED;
  box-shadow: 0px 10px 35px -10px rgb(0 0 0 / 10%);
  border-radius: 12px;
  padding: 5px 12px;
  margin-top: 5%;
}
.text2{
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.btn1{
  --background: #FFFFFF;
  --border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  --box-shadow: none;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}
.grayimg{
  position: absolute;
  right: 0px;
  height: 16px;
  top: 31px;
  width: 6px;
}
.grayimg1{
  position: absolute;
  right: -5px;
  height: 16px;
  top: 31px;
  width: 6px;
}
.lbl1{
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #3C3744;
}
.text4{
  font-weight: 500;
  font-size: 14px;
  color: #090C9B;
  text-align: center;
}

.r-main{
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-shadow: 0px 10px 35px -10px rgb(0 0 0 / 10%);
  border-radius: 12px;
  padding: 10px 15px;
}

.tabsbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px -10px 35px -15px rgb(64 59 75 / 15%);
  border-radius: 30px 30px 0px 0px;
  padding: 6px 0px;
}
.tlbl{
  font-size:11px;
  margin-top: 6px;
  margin-bottom: 2px;
  font-weight:400;
  font-family: "Poppins", sans-serif;
}
.tbadge{
  min-width: 20px;
  font-size: 12px;
  left: calc(50% + 3px);
  top: calc(0% + -5px);
  background: #5463FF;
  min-height: 20px;
  border-radius: 90px;
  position: absolute;
}
