<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">

        <ion-buttons (click)="back()">
          <div style="width:100%;">
            <img src="/assets/imgs/backbtn.svg">
          </div>
        </ion-buttons>

      </ion-col>
      <ion-col size="7.5">
        <img src="/assets/imgs/working2.svg" style="
        height: 26px;">
      </ion-col>
      <ion-col style="text-align:end;" size="2">

        <img src="/assets/imgs/user2.svg" style="margin-right: 12%;">


      </ion-col>

    </ion-row>

  </ion-toolbar>
  <div class="search-div">
    <div style="width:85%;float:left;">
      <ion-searchbar></ion-searchbar>
    </div>
    <div class="filterimg">
      <img src="assets/imgs/location-dot.svg" style="width: 18px;
      height: 21px;">
    </div>
    <div class="clear"></div>
  </div>

</ion-header>

<ion-content style="--background: none;">

  <capacitor-google-map #map></capacitor-google-map>
  <!-- <img src="assets/imgs/map.svg" style="width: 100%;height: 100%;"> -->

  <div class="footercls">
    <div style="text-align: center;">
      <ion-button class="btn1" (click)="goToLogin()">Log In</ion-button>
      <ion-button class="btn2" (click)="goToSignup()">Sign up</ion-button>
    </div>
    <p class="para">Or Continue with {{title}}</p>
    <div [innerHtml]="test"></div>
    <div style="display: flex;
      justify-content: center;margin-top:5%;">
      <img src="/assets/imgs/google.svg" (click)="gsignin()">
      <img src="/assets/imgs/facebook.svg" style="margin-left: 6%;">
    </div>
  </div>
</ion-content>
<!-- <ion-footer class="ion-no-border" style="border-radius:30px;">

</ion-footer> -->
