<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row class="center-icons">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="/assets/imgs/menu.svg" />
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="7.5" style="text-align: center">
        <ion-label class="textcenter">Post a Job</ion-label>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 90%; margin: 0 auto">
    <div style="display: flex">
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="activehr" />
      <hr class="simplehr" />
      <hr class="simplehr" />
    </div>
  </div>
  <div>
    <div style="width: 90%; margin: 0px auto">
      <p class="title1">Job Type</p>

      <div class="inputfield">
        <ion-input class="input" type="email" placeholder="Job Category" readonly (click)="selectcategory()"><img
            style="margin: 15px 7px 14px 15px" src="/assets/imgs/grid.svg">
        </ion-input>
      </div>
      <div style="display:flex;margin-left: 1%;">
        <img src="/assets/imgs/dollar.svg">
        <p style="margin-left:4%;">Salary ($) <span style="color:#C1C1C1;">(Optional)</span> </p>
      </div>


      <div style="display: flex">
        <div class="inputfield" style="height: 55px;">
          <ion-input style="padding: 5px 10px !important;" class="input" type="text" placeholder="From">
          </ion-input>
        </div>

        <div class="inputfield" style="margin-left: 20px;height: 55px;">
          <ion-input style="padding: 5px 10px !important" class="input" type="text" placeholder="For">
          </ion-input>
        </div>

        <div class="inputfield" style="margin-left: 20px;padding-bottom: 5px">
          <ion-input style="padding: 5px 10px !important" class="input" type="text" placeholder="Per Hour"
            (click)="openlist()" readonly [(ngModel)]="Type">
          </ion-input>
          <div *ngIf="open==true" style="height:auto ; overflow: scroll;">
            <div *ngFor="let list of choosetype; let i=index" (click)="selecttype(list,i)">
              <div class="euro-text1">{{list.name}}</div>
            </div>

          </div>
        </div>
      </div>

    </div>


    <p style="margin-left: 20px">Tips/Comission</p>

    <div style="display: flex">
      <div (click)="optClick(opt)" [class.divcheck]="selectedoptId == opt.id"
        [class.divuncheck]="selectedoptId != opt.id" *ngFor="let opt of optionArrAge">
        <ion-label>{{opt.name}}</ion-label>
        <img *ngIf="selectedoptId == opt.id" class="imgsize" src="assets/imgs/checkwhite.svg" />
        <img *ngIf="selectedoptId != opt.id" class="imgsize" src="assets/imgs/checkgray.svg" />
      </div>
    </div>

    <!-- 2 -->

    <p style="margin-left: 20px">Maximum Age</p>

    <div style="display: flex">
      <div (click)="optClickAge(opt)" [class.divcheck]="selectedoptIdAge == opt.id"
        [class.divuncheck]="selectedoptIdAge != opt.id" *ngFor="let opt of ageArr">
        <ion-label>{{opt.name}}</ion-label>
        <img *ngIf="selectedoptIdAge == opt.id" class="imgsize" src="assets/imgs/checkwhite.svg" />
        <img *ngIf="selectedoptIdAge != opt.id" class="imgsize" src="assets/imgs/checkgray.svg" />
      </div>
    </div>

    <!-- 3 -->

    <p style="margin-bottom: 0px; margin-left: 20px">Automatically Reply</p>
    <ion-label class="smalltitle">Automatically send a message to new applicants</ion-label>

    <div style="margin-top: 20px; display: flex">
      <div (click)="optClickReply(opt)" [class.divcheck]="selectedoptIdReply == opt.id"
        [class.divuncheck]="selectedoptIdReply != opt.id" *ngFor="let opt of optionArr">
        <ion-label>{{opt.name}}</ion-label>
        <img *ngIf="selectedoptIdReply == opt.id" class="imgsize" src="assets/imgs/checkwhite.svg" />
        <img *ngIf="selectedoptIdReply != opt.id" class="imgsize" src="assets/imgs/checkgray.svg" />
      </div>
    </div>

    <div style="width: 90%; margin: 0px auto; margin-top: 20px">
      <ion-button (click)="next()" style="
          --background: #03045e;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #ffffff;
          width: 100%;
          height: 54px;
          --border-radius: 12px;
          text-transform: capitalize;
          font-family: 'Poppins', sans-serif;
        ">
        Save & Next
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="tabsbar">
    <div (click)="goToJobList()">
      <img src="/assets/imgs/icons/suitcase.svg">
      <div class="tlbl">Find Job</div>
    </div>
    <div (click)="goToInbox()" style="position: relative;">
      <img src="/assets/imgs/icons/message-lines.svg">
      <div class="tlbl">Messages</div>
      <ion-badge class="tbadge">1</ion-badge>
    </div>
    <div (click)="goToPostJob()">
      <img src="/assets/imgs/icons/addactive.svg">
    </div>
    <div (click)="goToSaveJobs()">
      <img src="/assets/imgs/icons/bookmark.svg">
      <div class="tlbl">Save Jobs</div>
    </div>
    <div (click)="goToProfile()">
      <img src="/assets/imgs/icons/user.svg">
      <div class="tlbl">Profile</div>
    </div>
  </div>
</ion-footer>
