/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


// ion-menu{
//   --width: 360px;
// }

.headBgGlobal{
  --padding-top: 6%;
  --background: #fff;
}

.forgotPopupclass{
  --border-radius: 30px;
  --max-height: 52%;
  --max-width: 80%;
  --width: 80%;
  --height: 52%;
  background: rgba(0, 0, 0, 0.8) !important;
}
.profilePopupclass{
  --border-radius: 30px;
  --max-height: 50%;
  --max-width: 80%;
  --width: 80%;
  --height: 50%;
  background: rgba(0, 0, 0, 0.8) !important;
}

@media only screen and (max-width:375px)and (min-height:812px){
  .forgotPopupclass{
    --border-radius: 30px;
    --max-height: 50%;
    --max-width: 80%;
    --width: 80%;
    --height: 45%;
    background: rgba(0, 0, 0, 0.8) !important;
  }
}
@media only screen and (max-width:390px)and (min-height:844px){
  .forgotPopupclass{
    --border-radius: 30px;
    --max-height: 50%;
    --max-width: 80%;
    --width: 80%;
    --height: 45%;
    background: rgba(0, 0, 0, 0.8) !important;
  }
}
@media only screen and (max-width:393px)and (min-height:851px){
  .forgotPopupclass{
    --border-radius: 30px;
    --max-height: 50%;
    --max-width: 80%;
    --width: 80%;
    --height: 45%;
    background: rgba(0, 0, 0, 0.8) !important;
  }
}
@media only screen and (max-width:412px)and (min-height:914px){
  .forgotPopupclass{
    --border-radius: 30px;
    --max-height: 50%;
    --max-width: 80%;
    --width: 80%;
    --height: 45%;
    background: rgba(0, 0, 0, 0.8) !important;
  }
}
@media only screen and (max-width:320px)and (min-height:658px){
  .forgotPopupclass{
    --border-radius: 30px;
    --max-height: 55%;
    --max-width: 80%;
    --width: 80%;
    --height: 55%;
    background: rgba(0, 0, 0, 0.8) !important;
  }
}
.otp-input{
  margin-right: 8px  !important;
  background: #FFFFFF  !important;
  box-shadow: 0px 10px 35px -10px #403B4B33 !important;
  border-radius: 12px  !important;
  color: black  !important;
  height: 54px  !important;
  width: 54px  !important;
}
.otp-input:focus-within {
  background: #ffffff !important;
}

.center-icons{
  align-items: center;
}

ion-searchbar{
  --background: none !important;
    --box-shadow: none !important;
}
.searchbar-search-icon.sc-ion-searchbar-md {
  left: 5px  !important;
  top: 7px  !important;
  width: 30px  !important;
  height: 30px  !important;
}
.searchbar-search-icon.sc-ion-searchbar-ios {

  left: 0px !important;
  width: 25px !important;
}

.textcenter{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #03045E;
}

.textleft{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #5463FF;
}

ion-menu {
  --min-width: 100%;
}

ion-badge{
  border-radius: 22px;
}
