.textcenter{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;

}
.divuncheck{
  display: flex;
  text-align: center;
  padding: 10px;
  width: auto;
  height: 55px;
  left: 20px;
  top: 427px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 2px rgb(64 59 75 / 20%);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-left: 20px;
}

.imgsize{
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.divcheck{
  display: flex;
  text-align: center;
  padding: 10px;
  width: auto;
  height: 55px;
  left: 20px;
  top: 427px;
  background: #5463FF;
  box-shadow: 0px 0px 15px 2px rgb(64 59 75 / 20%);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 20px;
}

.activehr{
  background: #5463FF;
  width: 50px;
  height: 10px;
  border-radius: 20px;
}

.simplehr{
  background: #F2F2F2;
  width: 50px;
  height: 10px;
  border-radius: 20px;
}

.title1{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #5463FF;
}

ion-range{
	--bar-background: rgba(120, 120, 128, 0.2);
  --bar-height: 5px;
  --bar-border-radius: 8px;
  --knob-background: #fff;
  --knob-size: 40px;
  --height: 15px;
  --bar-background-active: #5463FF;
  --knob-box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.12);
}

.inputfield{
  background: #fff;
  box-shadow: 0px 10px 35px -10px #403B4B33;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.input{
  color: #6A6A6A;
  font-size: 16px;
  font-weight: 400;
  --placeholder-color:#6A6A6A;
  --placeholder-font-weight:400;
  font-family: 'Poppins', sans-serif;
}

p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.smalltitle{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #3C3744;
}
//////////////////
.tabsbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px -10px 35px -15px rgb(64 59 75 / 15%);
  border-radius: 30px 30px 0px 0px;
  padding: 6px 0px;
}
.tlbl{
  font-size:11px;
  margin-top: 6px;
  margin-bottom: 2px;
  font-weight:400;
  font-family: "Poppins", sans-serif;
}
.tbadge{
  min-width: 20px;
  font-size: 12px;
  left: calc(50% + 3px);
  top: calc(0% + -5px);
  background: #5463FF;
  min-height: 20px;
  border-radius: 90px;
  position: absolute;
}
